{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/login" method="post">
            <div class="form-group col-md-3 mx-auto">
                <input autocomplete="off" autocapitalize="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group col-md-3 mx-auto">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}
