{% extends "layout.html" %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.ui.position.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.contextMenu.min.css"/>

    <link rel="stylesheet" href="/static/users.css"/>
    <script src="/static/request.js"></script>
    <script src="/static/users.js"></script>
{% endblock %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <div class="modal" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add/Edit User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/updateuser" id="modalForm" method="post">
                    <div class="modal-body mx-3">
                        <input name="user_id" type="number" hidden>
                        <div class="md-form mb-2">
                            <label class="col-form-label" for="username">Username</label>
                            <input autocomplete="off" autofocus class="form-control" name="username" type="text" required/>
                        </div>
                        <div class="md-form mb-2">
                            <label class="col-form-label" for="email">Email</label>
                            <input class="form-control" name="email" type="email" required/>
                        </div>
                        <div class="md-form mb-2">
                            <label class="col-form-label" for="real_name">Real Name</label>
                            <input class="form-control" name="real_name" type="text" required/>
                        </div>
                        <div class="md-form mb-2">
                            <label class="col-form-label" for="role">Role</label>
                            <select id="role" name="role" class="form-control">
                                <option value="employee">Employee</option>
                                <option value="manager">Manager</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                        <div class="md-form mx-auto py-2" id="changePassRow">
                            <input type="checkbox" class="form-check-input" name="changePass" id="changePass">
                            <label class="form-check-label" for="changePass">Change Password</label>
                        </div>
                        <div class="md-form mb-2">
                            <label class="col-form-label" for="password">Password</label>
                            <input class="form-control inputPass" name="password" type="password" disabled/>
                        </div>
                        <div class="md-form mb-2">
                            <label class="col-form-label" for="confirmation">Confirm Password</label>
                            <input class="form-control inputPass" name="confirmation" type="password" disabled/>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary" type="reset">Reset</button>
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container mb-3 text-left">
            <button id="btnAdd" type="button" class="btn btn-primary mx-1">Add User</button>
            <button id="btnEdit" type="button" class="btn btn-secondary mx-1">Edit</button>
            <button id="btnDelete" type="button" class="btn btn-danger mx-1">Delete</button>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Real Name</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="user_row"
                            data-user_id="{{ user['id'] }}"
                            data-username="{{ user['username'] }}"
                            data-email="{{ user['email'] }}"
                            data-real_name="{{ user['real_name'] }}"
                            data-role="{{ user['role'] }}">
                            <td class="userIdCol">
                                <input class="userIdRadio" type="radio" name="select" value="{{ user["id"] }}">
                                <label class="userIdLabel" for="select">{{ user["id"] }}</label>
                            </td>
                            <td>{{ user["username"] }}</td>
                            <td>{{ user["email"] }}</td>
                            <td>{{ user["real_name"] }}</td>
                            <td>{{ user["role"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
